/* .profileHeader {
    background-color:#4056A1;
    position: fixed;
    top: 119px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color:aliceblue;
  } */

/* @media only screen and (min-width: 420px)  {
    .profileHeader {
        width: auto;
        top: 250px;
      }
  } */

  /* Another tablet breakpoint is maximum width of 1024px */
  /* @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .logo {
        margin-left: 75px;
        margin-right: 10px;
        max-width: 150px;
        max-height: 150px;
        width: auto;
        justify-content: center;
        flex-direction: column;
    }

    .userName {
        max-height: 150px;
        margin-right: 10px;
    }
  } */