nav {
height: 120px;
width: 100%;
background-color: #4056A1;
color: #FFFFFF;
font-family: 'Bungee', cursive;
top: 0px;
padding-left: 1.5em;
padding-right: 1.5em;
position: fixed;
font-size: 1em;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.naviR {
    display:flex;
    align-content: flex-end;
    flex-direction: column;
    align-items: center;
}


@media only screen and (min-width: 420px)  {
    nav {
        height: 150px;
      font-size: 1.5em;
    }
  }