nav {
height: 120px;
width: 100%;
background-color: #4056A1;
color: #FFFFFF;
font-family: 'Bungee', cursive;
padding-left: 1.5em;
padding-right: 1.5em;
position: fixed;
font-size: 1.5em;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}


.naviR {
    display:flex;
    align-content: flex-end;
    flex-direction: column;
    align-items: center;
}

/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges
 */