.new-tweet {
    font-family: 'Source Sans Pro', sans-serif;
    width: 300px;
}

#new-tweet-form {
  width:100%;
  max-width: 600px;
}

.tweetBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.tweetBottom {
    display: flex;
    justify-content: space-between;
}

.humming {
    border-bottom: 3px solid black;
}

input {
    background: transparent;
    border: 0px;
    border-bottom: 2px solid black;
}

input:focus {
    outline: none;
}

.red {
    color: red;
}
#submit {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#submit:hover,
#submit:focus {
  background-color: #07c;
}

#submit:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#submit:active {
  background-color: #0064bd;
  box-shadow: none;
}

@media only screen and (min-width: 420px)  {
  .new-tweet {
    width: 100%;
  }
}