.newTweetContainer article {
    border: 2px solid black;
    margin: 3px 0px;
    width: 600px;
}

.newTweetContainer article:hover {
    box-shadow: 5px 10px;
}

.article {
    display: flex;
    width: 500px;
}
.tweet {
    display:flex;
    width: 95%;
    margin-left: 5px;
    margin-top: 5px;
}

.authorLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweetHeader {
    display:flex;
    justify-content: space-between;
}

.tweetFooter {
    display: flex;
    border-top: 2px solid black;
    justify-content: space-between;
}

.tweetIcons:hover {
    color:beige
}